@import "reset";

Body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    margin-right: 20px;
  }
}

h1 {
  color: $bleen;
  padding: 20px;
}

button {
  transition: .5s ease;
  border: 1px solid white;
  width: 100%;
  padding: 10px;

  &:hover {
    transition: .5s ease;
    cursor: pointer;
    border: 1px solid $bleen;
    color: $bleen;
  }
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  text-align: center;
  width: 75px;
  height: 100px;
  margin: 0 10px;
}

main {
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.bettingTable {
    flex-direction: row;
    justify-content: space-around;

    button {
      margin: 10px 0;
    }
  }

  h2 {
    text-transform: capitalize;
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      align-self: flex-start;
    }

    input {
      border: 1px solid white;
      padding: 10px;
      margin: 5px 0px;
    }
  }

  .players {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px 0;

      .win {
        color: $bleen;
      }

      .loose {
        color: #a00;
      }

      .tie {
        color: #ff8000;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          text-align: center;
          width: 75px;
          height: 100px;
          margin: 0 10px;
        }
      }
    }
  }
}


footer {
  height: 8vh;
  background-color: $bleen;
  display: flex;
  align-items: center;

  span {
    margin-left: 5%;
  }
}